################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend-old/.vs
/backend-old/bin/Debug/net8.0
